body{
    text-align:center;
    background: linear-gradient(to bottom, #87ceeb, #4caf50);
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    height:100vh;
    margin:0;
    font-family: "Poppins", sans-serif;
}
.game{
    display:grid;
    grid-template-columns:repeat(3,120px);
    gap:20px;
    grid-gap: 20px;
    margin-top:20px;
}
.hole{
    width:120px;
    height:120px;
    background:#3e2723;
    border-radius:50%;
    position:relative;
    overflow:hidden;
    box-shadow:inset 0 8px 0 #2a1b12;
}
.mole{
    width:80px;
    height:80px;
    background-color:radial-gradient(circle at 30% 30%, #000, #2f2f2f);
    border-radius:50%;
    position:absolute;
    bottom:-80px;
    left:20px;
    transition:bottom 0.2s ease-out;
    box-shadow:inset 0 -5px 0 #1a1a1a;
}
.hole.active .mole{
    bottom:10px;
}
.mole::before,
.mole::after {
    content: '';
    position: absolute;
    width:10px;
    height:10px;
    background:red;
    border-radius:50%;
    top: 20px;
}
.mole::before{
    left:22px;
}
.mole::after{
    right:22px;
}

#score{
    font-size: 2rem;
    color:222;
}
button{
    padding: 10px 20px;
    background:#ff9800;
    border:none;
    border-radius:8px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s;
}
button:hover {
    background:#ffa726;
}